In [1]:
import sys, os, json
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from tools.instruments import instruments
from tools.display import highchart
from tools.quotes import Quotes

In [2]:
%load_ext autoreload
%aimport tools.instruments
%aimport tools.quotes
%aimport tools.display
%autoreload 2

In [39]:
quotes = instruments.quotes()

In [40]:
axes_ref = quotes.attrs['axes']

In [41]:
axes_ref

{'ohlc': ['EMA', 'MA', 'MAX', 'MIN', 'PD'],
 'atr': ['ATR'],
 'trend age': ['TRENDAGE'],
 'trend prob': ['TRENDPROB']}

In [42]:
axes = {}
for metric in metrics:
    axes[metric[0]] = [k for k,v in axes_ref.items() if metric[1] in v][0]

NameError: name 'metrics' is not defined

In [34]:
instruments.quotes().NeverStop( inplace=True)

                 AD                                                           \
               open     high      low    close    volume        oi neverstop
date
1959-08-03      NaN      NaN      NaN      NaN       NaN       NaN   -1.0064
1959-08-04      NaN      NaN      NaN      NaN       NaN       NaN   -1.0064
1959-08-05      NaN      NaN      NaN      NaN       NaN       NaN   -1.0064
1959-08-06      NaN      NaN      NaN      NaN       NaN       NaN   -1.0064
1959-08-07      NaN      NaN      NaN      NaN       NaN       NaN   -1.0064
...             ...      ...      ...      ...       ...       ...       ...
2022-04-28  0.71290  0.71660  0.70595  0.70995  112019.0  144283.0   -1.0064
2022-04-29  0.71035  0.71845  0.70610  0.70870  124501.0  144179.0   -1.0064
2022-05-02  0.70710  0.70870  0.70355  0.70415   91807.0  140428.0   -1.0064
2022-05-03  0.70570  0.71535  0.70525  0.70990  114059.0  143087.0   -1.0064
2022-05-04  0.71005  0.72700  0.70925  0.72370  117416.0  151039.0   -1.0064

                   BO                        ...        US             \
                 open       high        low  ...    volume         oi
date                                         ...
1959-08-03        NaN        NaN        NaN  ...       NaN        NaN
1959-08-04        NaN        NaN        NaN  ...       NaN        NaN
1959-08-05        NaN        NaN        NaN  ...       NaN        NaN
1959-08-06        NaN        NaN        NaN  ...       NaN        NaN
1959-08-07        NaN        NaN        NaN  ...       NaN        NaN
...               ...        ...        ...  ...       ...        ...
2022-04-28  84.790001  86.690002  83.680000  ...  311566.0  1147787.0
2022-04-29  86.599998  87.650002  84.029999  ...  442506.0  1152657.0
2022-05-02  84.529999  84.529999  79.389999  ...  286249.0  1158373.0
2022-05-03  80.150002  82.459999  79.250000  ...  274306.0  1167267.0
2022-05-04  80.449997  82.730003  79.820000  ...  390033.0  1166838.0

                             W                                                \
            neverstop     open     high      low    close   volume        oi
date
1959-08-03 -64.904663      NaN      NaN      NaN      NaN      NaN       NaN
1959-08-04 -64.904663      NaN      NaN      NaN      NaN      NaN       NaN
1959-08-05 -64.904663      NaN      NaN      NaN      NaN      NaN       NaN
1959-08-06 -64.904663      NaN      NaN      NaN      NaN      NaN       NaN
1959-08-07 -64.904663      NaN      NaN      NaN      NaN      NaN       NaN
...               ...      ...      ...      ...      ...      ...       ...
2022-04-28 -64.904663  1088.00  1106.50  1081.00  1085.75  28123.0  179732.0
2022-04-29 -64.904663  1085.00  1102.50  1054.25  1055.75  36624.0  179341.0
2022-05-02 -64.904663  1049.00  1071.50  1034.25  1055.50  39695.0  179240.0
2022-05-03 -64.904663  1056.25  1068.75  1044.00  1045.50  29749.0  177551.0
2022-05-04 -64.904663  1047.00  1089.00  1042.25  1076.50  42332.0  177503.0


           neverstop
date
1959-08-03     498.0
1959-08-04     498.0
1959-08-05     498.0
1959-08-06     498.0
1959-08-07     498.0
...              ...
2022-04-28     498.0
2022-04-29     498.0
2022-05-02     498.0
2022-05-03     498.0
2022-05-04     498.0

[15987 rows x 273 columns]

In [28]:
instruments.quotes()['AD'].dropna()

field          open     high      low    close    volume        oi
date
1987-01-13  0.01070  0.01180  0.00680  0.00700    1854.0     915.0
1987-01-14 -0.00300 -0.00190 -0.00640 -0.00530    1446.0     930.0
1987-01-15  0.00480  0.00490  0.00350  0.00370     539.0     786.0
1987-01-16  0.00560  0.00680  0.00560  0.00650     537.0     964.0
1987-01-19  0.00640  0.00980  0.00640  0.00830     506.0     866.0
...             ...      ...      ...      ...       ...       ...
2022-04-28  0.71290  0.71660  0.70595  0.70995  112019.0  144283.0
2022-04-29  0.71035  0.71845  0.70610  0.70870  124501.0  144179.0
2022-05-02  0.70710  0.70870  0.70355  0.70415   91807.0  140428.0
2022-05-03  0.70570  0.71535  0.70525  0.70990  114059.0  143087.0
2022-05-04  0.71005  0.72700  0.70925  0.72370  117416.0  151039.0

[8916 rows x 6 columns]

In [18]:
q['W','test'] = 2
q['W','test'].name = 'test'

In [20]:
q['W']

field          open     high      low    close   volume        oi  test
date
1959-08-03      NaN      NaN      NaN      NaN      NaN       NaN     2
1959-08-04      NaN      NaN      NaN      NaN      NaN       NaN     2
1959-08-05      NaN      NaN      NaN      NaN      NaN       NaN     2
1959-08-06      NaN      NaN      NaN      NaN      NaN       NaN     2
1959-08-07      NaN      NaN      NaN      NaN      NaN       NaN     2
...             ...      ...      ...      ...      ...       ...   ...
2022-04-28  1088.00  1106.50  1081.00  1085.75  28123.0  179732.0     2
2022-04-29  1085.00  1102.50  1054.25  1055.75  36624.0  179341.0     2
2022-05-02  1049.00  1071.50  1034.25  1055.50  39695.0  179240.0     2
2022-05-03  1056.25  1068.75  1044.00  1045.50  29749.0  177551.0     2
2022-05-04  1047.00  1089.00  1042.25  1076.50  42332.0  177503.0     2

[15987 rows x 7 columns]

In [11]:
ad.dropna().index[0]

Timestamp('1987-01-13 00:00:00')

In [31]:
df['test3'] = ad.index == ad.dropna().index[0]

In [21]:
ad['test2'].name = '12'

In [24]:
ad.attrs['asdf'] = None

In [41]:
cd = ad.copy()

In [45]:
ad

field          open     high      low    close    volume        oi
date
1959-08-03      NaN      NaN      NaN      NaN       NaN       NaN
1959-08-04      NaN      NaN      NaN      NaN       NaN       NaN
1959-08-05      NaN      NaN      NaN      NaN       NaN       NaN
1959-08-06      NaN      NaN      NaN      NaN       NaN       NaN
1959-08-07      NaN      NaN      NaN      NaN       NaN       NaN
...             ...      ...      ...      ...       ...       ...
2022-04-28  0.71290  0.71660  0.70595  0.70995  112019.0  144283.0
2022-04-29  0.71035  0.71845  0.70610  0.70870  124501.0  144179.0
2022-05-02  0.70710  0.70870  0.70355  0.70415   91807.0  140428.0
2022-05-03  0.70570  0.71535  0.70525  0.70990  114059.0  143087.0
2022-05-04  0.71005  0.72700  0.70925  0.72370  117416.0  151039.0

[15987 rows x 6 columns]

In [43]:
cd['test']= cd.index == cd.dropna().index[0]

In [52]:
for symbol, quote in instruments.quotes().groupby(level=0, axis=1):
    quote

In [58]:
quote.index == quote.dropna().index[0]

array([False, False, False, ..., False, False, False])

In [54]:
symbol

'W'

In [157]:
quote = instruments['AD'].quotes()
quote.PD(percentile=50, inplace=True)
quote.PD(percentile=90, inplace=True)
quote.PD(percentile=10, inplace=True)
quote.PD(percentile=25, inplace=True)
quote.PD(percentile=75, inplace=True)

In [13]:
from itertools import groupby
from collections import Counter

In [6]:
arr = np.random.randint(0,2,10000)

In [9]:
split_by_consecutive = [np.array(list(v)).cumsum() for k,v in groupby(arr)]

In [18]:
a = np.concatenate(split_by_consecutive)

In [19]:
c = Counter(a)

In [1]:
import turtle
screen = turtle.Screen()
screen.title('Curvy Fractal Tree - PythonTurtle.Academy')
screen.setup(1000,1000)
screen.setworldcoordinates(-1000,-1000,1000,1000)
screen.tracer(0,0)
turtle.speed(0)
turtle.hideturtle()

def tree(x,y,length,direction):
    if length < 2: return    
    turtle.up()
    turtle.goto(x,y)
    turtle.pensize(length/30)
    turtle.down()
    turtle.seth(direction)
    if length<10: turtle.color('dim gray')
    else: turtle.color('black')
    
    turtle.fd(length)

    px,py = turtle.xcor(), turtle.ycor()
    tree(px,py,length*0.9,direction+25)
    tree(px,py,length*0.45,direction-90)

tree(400,-500,300,90)
screen.update()

In [2]:
tree(400,-500,300,90)

In [ ]:
screen.

In [6]:
with open('sdf.json', mode='w') as f:
    b=json.dumps(a)
    f.write(b)

In [10]:
with open('sdf.json', mode='r') as f:
    print(json.load(f))

{'hi': 123, 'b': [1, 2, 3]}

In [192]:
chart.append({
    'data': quote[['open','high','low','close']],
    'type': 'ohlc',
})

In [199]:
chart.append({
    'data': quote['pd90'],
    'type': 'line',
})

In [13]:
del a['hi']

In [14]:
a

{'b': [1, 2, 3]}

In [200]:
highchart(chart, height=800)

In [65]:
q.loc['date'] = q.index

In [174]:
import webbrowser

# generate an URL
url = 'https://' + 'www.google.com'
webbrowser.open(url)

True

In [179]:
os.path.join(os.path.abspath(os.curdir),'temp')

'C:\\Users\\yosep\\Documents\\projects\\Trading\\temp'

In [180]:
os.path.abspath(os.path.join('..'))

'C:\\Users\\yosep\\Documents\\projects'