In [1]:
import sys, imp, os
import pandas as pd
import numpy as np
import h5py

In [2]:
from tools.instruments import instruments
from tools.common import monitor_memory
from tools.constants import DATADIR

* 메모리사용량 체크

In [48]:
del sys.modules['tools.common']
del sys.modules['tools.instruments']
from tools.common import monitor_memory
from tools.instruments import instruments

In [59]:
monitor_memory(dir())

[('s', 6310), ('instruments', 2), ('DATADIR', 0), ('a', 0), ('ad', 0), ('monitor_memory', 0), ('np', 0), ('pd', 0)]

In [50]:
ad = instruments['AD']

In [61]:
instruments.quotes(fields='ohlcv')

                 AD                                             BO             \
               open     high      low    close   volume       open       high
date
1978-09-26      NaN      NaN      NaN      NaN      NaN        NaN        NaN
1978-09-27      NaN      NaN      NaN      NaN      NaN        NaN        NaN
1978-09-28      NaN      NaN      NaN      NaN      NaN        NaN        NaN
1978-09-29      NaN      NaN      NaN      NaN      NaN        NaN        NaN
1978-10-02      NaN      NaN      NaN      NaN      NaN        NaN        NaN
...             ...      ...      ...      ...      ...        ...        ...
2022-04-07  0.75185  0.75265  0.74735  0.74920  76307.0  71.940002  73.260002
2022-04-08  0.74875  0.75000  0.74340  0.74675  63501.0  73.019997  75.330002
2022-04-11  0.74680  0.74745  0.74215  0.74365  61761.0  75.120003  75.599998
2022-04-12  0.74280  0.75015  0.74075  0.74685  70937.0  74.300003  75.919998
2022-04-13  0.74610  0.74820  0.73985  0.74525  79717.0  75.430000  78.750000

                                           ...        W                    \
                  low      close   volume  ...     open     high      low
date                                       ...
1978-09-26        NaN        NaN      NaN  ...      NaN      NaN      NaN
1978-09-27        NaN        NaN      NaN  ...      NaN      NaN      NaN
1978-09-28        NaN        NaN      NaN  ...      NaN      NaN      NaN
1978-09-29        NaN        NaN      NaN  ...      NaN      NaN      NaN
1978-10-02        NaN        NaN      NaN  ...      NaN      NaN      NaN
...               ...        ...      ...  ...      ...      ...      ...
2022-04-07  71.500000  73.019997  55935.0  ...  1040.25  1044.50  1017.75
2022-04-08  72.669998  75.120003  45293.0  ...  1020.00  1054.25  1017.00
2022-04-11  73.930000  74.300003  40791.0  ...  1056.00  1091.75  1055.00
2022-04-12  74.300003  75.430000  43062.0  ...  1077.75  1117.50  1075.00
2022-04-13  74.949997  78.110001  60392.0  ...  1102.50  1124.25  1078.00

                                   YM
              close   volume     open     high      low    close    volume
date
1978-09-26      NaN      NaN      NaN      NaN      NaN      NaN       NaN
1978-09-27      NaN      NaN      NaN      NaN      NaN      NaN       NaN
1978-09-28      NaN      NaN      NaN      NaN      NaN      NaN       NaN
1978-09-29      NaN      NaN      NaN      NaN      NaN      NaN       NaN
1978-10-02      NaN      NaN      NaN      NaN      NaN      NaN       NaN
...             ...      ...      ...      ...      ...      ...       ...
2022-04-07  1020.00  50501.0  34370.0  34613.0  34093.0  34490.0  168413.0
2022-04-08  1051.50  34010.0  34481.0  34820.0  34368.0  34613.0  154088.0
2022-04-11  1081.25  55247.0  34636.0  34668.0  34181.0  34219.0  159044.0
2022-04-12  1103.75  50433.0  34232.0  34582.0  34002.0  34139.0  193135.0
2022-04-13  1113.50  53460.0  34178.0  34511.0  34052.0  34482.0  161480.0

[11065 rows x 180 columns]

In [91]:
df[['date','open']]

array([( 9353, 0.7285), ( 9356, 0.7285), ( 9357, 0.7285), ...,
       (19093, 0.7468), (19094, 0.7428), (19095, 0.7461)],
      dtype={'names':['date','open'], 'formats':['<i4','<f4'], 'offsets':[0,4], 'itemsize':28})

In [95]:
s=np.copy(df[['date','volume']])

In [144]:
file = h5py.File(os.path.join(DATADIR,'kibot/quotes.hdf'), 'r')

In [148]:
file['AD']['date','open']

array([( 9353, 0.7285), ( 9356, 0.7285), ( 9357, 0.7285), ...,
       (19093, 0.7468), (19094, 0.7428), (19095, 0.7461)],
      dtype=[('date', '<i4'), ('open', '<f4')])

In [45]:
dtypes_old[0] = (dtypes_old[0][0], 'M8[D]')

In [131]:
s=df[['date','open','high','low','close','open_interest']]

In [196]:
s[np.where(s['date']>18275)][:5]

array([(18276, 0.691 , 0.6926, 0.6887, 0.6913,  70440, 0),
       (18277, 0.6914, 0.6943, 0.6897, 0.6904,  76664, 0),
       (18278, 0.6906, 0.6921, 0.688 , 0.6887,  69449, 0),
       (18282, 0.6885, 0.6898, 0.6851, 0.6854, 125648, 0),
       (18283, 0.6851, 0.6865, 0.6836, 0.6852,  87192, 0)],
      dtype=[('date', '<i4'), ('open', '<f4'), ('high', '<f4'), ('low', '<f4'), ('close', '<f4'), ('volume', '<i4'), ('open_interest', '<i4')])

In [194]:
s[np.where(s['date']>np.datetime64('2020-01-14').astype('i'))][:5]

array([(18276, 0.691 , 0.6926, 0.6887, 0.6913,  70440, 0),
       (18277, 0.6914, 0.6943, 0.6897, 0.6904,  76664, 0),
       (18278, 0.6906, 0.6921, 0.688 , 0.6887,  69449, 0),
       (18282, 0.6885, 0.6898, 0.6851, 0.6854, 125648, 0),
       (18283, 0.6851, 0.6865, 0.6836, 0.6852,  87192, 0)],
      dtype=[('date', '<i4'), ('open', '<f4'), ('high', '<f4'), ('low', '<f4'), ('close', '<f4'), ('volume', '<i4'), ('open_interest', '<i4')])

In [189]:
np.array(18275).astype('M8[D]')

array('2020-01-14', dtype='datetime64[D]')

In [127]:
s=s.astype([('date', '<i4'), ('open', '<f4'), ('high', '<f4'), ('low', '<f4'), ('close', '<f4'), ('open_interest', '<i4')])

In [128]:
s

array([( 9353, 0.7285, 0.7285 , 0.7285 , 0.7285 , 0),
       ( 9356, 0.7285, 0.7285 , 0.7285 , 0.7285 , 0),
       ( 9357, 0.7285, 0.7285 , 0.7285 , 0.7285 , 0), ...,
       (19093, 0.7468, 0.74745, 0.74215, 0.74365, 0),
       (19094, 0.7428, 0.75015, 0.74075, 0.74685, 0),
       (19095, 0.7461, 0.7482 , 0.73985, 0.74525, 0)],
      dtype=[('date', '<i4'), ('open', '<f4'), ('high', '<f4'), ('low', '<f4'), ('close', '<f4'), ('open_interest', '<i4')])

In [50]:
df = df.astype(dtypes_new)

In [53]:
df['date']['2020-01-01':'2020-12-12']

TypeError: slice indices must be integers or None or have an __index__ method

In [55]:
df['date'][12:]

array(['1995-08-29', '1995-08-30', '1995-08-31', ..., '2022-04-11',
       '2022-04-12', '2022-04-13'], dtype='datetime64[D]')

In [43]:
df.dtype.fields

mappingproxy({'date': (dtype('int32'), 0),
              'open': (dtype('<f4'), 4),
              'high': (dtype('<f4'), 8),
              'low': (dtype('<f4'), 12),
              'close': (dtype('<f4'), 16),
              'volume': (dtype('int32'), 20),
              'open_interest': (dtype('int32'), 24)})

In [8]:
df = ad.quotes(format='pandas')

In [13]:
df = ad.quotes()

In [23]:
df['date'] = df['date'].astype('M8[D]')

In [25]:
df

array([( 9353, 0.7285, 0.7285 , 0.7285 , 0.7285 ,     2, 0),
       ( 9356, 0.7285, 0.7285 , 0.7285 , 0.7285 ,     2, 0),
       ( 9357, 0.7285, 0.7285 , 0.7285 , 0.7285 ,     2, 0), ...,
       (19093, 0.7468, 0.74745, 0.74215, 0.74365, 61761, 0),
       (19094, 0.7428, 0.75015, 0.74075, 0.74685, 70937, 0),
       (19095, 0.7461, 0.7482 , 0.73985, 0.74525, 79717, 0)],
      dtype=[('date', '<i4'), ('open', '<f4'), ('high', '<f4'), ('low', '<f4'), ('close', '<f4'), ('volume', '<i4'), ('open_interest', '<i4')])

In [12]:
df - df.max()

               open     high      low    close    volume  open_interest
date
1995-08-11 -0.36670 -0.37200 -0.36210 -0.36520 -304384.0            0.0
1995-08-14 -0.36670 -0.37200 -0.36210 -0.36520 -304384.0            0.0
1995-08-15 -0.36670 -0.37200 -0.36210 -0.36520 -304384.0            0.0
1995-08-16 -0.36670 -0.37200 -0.36210 -0.36520 -304384.0            0.0
1995-08-17 -0.36670 -0.37200 -0.36210 -0.36520 -304384.0            0.0
...             ...      ...      ...      ...       ...            ...
2022-04-07 -0.34335 -0.34785 -0.34325 -0.34450 -228079.0            0.0
2022-04-08 -0.34645 -0.35050 -0.34720 -0.34695 -240885.0            0.0
2022-04-11 -0.34840 -0.35305 -0.34845 -0.35005 -242625.0            0.0
2022-04-12 -0.35240 -0.35035 -0.34985 -0.34685 -233449.0            0.0
2022-04-13 -0.34910 -0.35230 -0.35075 -0.34845 -224669.0            0.0

[6743 rows x 6 columns]