In [2]:
from tools.instruments import Instruments

In [5]:
from tools.instruments import instruments

In [8]:
s=instruments['AD']

In [11]:
s.quotes()

field          open     high      low    close  volume      oi
date
1987-01-13  0.01070  0.01180  0.00680  0.00700    1854     915
1987-01-14 -0.00300 -0.00190 -0.00640 -0.00530    1446     930
1987-01-15  0.00480  0.00490  0.00350  0.00370     539     786
1987-01-16  0.00560  0.00680  0.00560  0.00650     537     964
1987-01-19  0.00640  0.00980  0.00640  0.00830     506     866
...             ...      ...      ...      ...     ...     ...
2022-04-28  0.71290  0.71660  0.70595  0.70995  112019  144283
2022-04-29  0.71035  0.71845  0.70610  0.70870  124501  144179
2022-05-02  0.70710  0.70870  0.70355  0.70415   91807  140428
2022-05-03  0.70570  0.71535  0.70525  0.70990  114059  143087
2022-05-04  0.71005  0.72700  0.70925  0.72370  117416  151039

[8916 rows x 6 columns]

In [16]:
instruments.filter(symbol='AD')

[[AD] CME Australian Dollar AUD]

In [19]:
list(instruments.keys())

['AD',
 'AL',
 'ATW',
 'B',
 'BO',
 'BP',
 'C',
 'CC',
 'CD',
 'CL',
 'CT',
 'CU',
 'DA',
 'DX',
 'EC',
 'ED',
 'ES',
 'FBTP',
 'FDAX',
 'FESX',
 'FF',
 'FGBL',
 'FGBM',
 'FGBS',
 'FOAT',
 'FV',
 'G',
 'GC',
 'HG',
 'HO',
 'I',
 'JY',
 'KC',
 'KW',
 'L',
 'LB',
 'LC',
 'LN',
 'M',
 'MD',
 'MP',
 'MW',
 'NE',
 'NG',
 'NK',
 'NQ',
 'O',
 'OJ',
 'PA',
 'PB',
 'PL',
 'R',
 'RB',
 'RF',
 'RR',
 'RS1',
 'RTY',
 'RU',
 'S',
 'SB',
 'SF',
 'SI',
 'SM',
 'SP',
 'SXF',
 'T',
 'TF',
 'TU',
 'TY',
 'US',
 'VX',
 'W',
 'YM',
 'Z',
 'ZN',
 'FC']