In [58]:
import sys, os
sys.path.append('..')
from tools.instruments import instruments
import pandas as pd
import h5py
import numpy as np
from tools.display import highchart

In [2]:
%load_ext autoreload
%aimport tools.instruments
%autoreload 2

In [3]:
#ebest 분봉 데이터가 담긴 폴더
dirpath = os.path.join('..','data','ebest')

In [4]:
files = [f for f in os.listdir(dirpath) if f[-3:]=='csv']

In [6]:
def convert_value(number_system):
    def convert(x):
        p, a = x.split("'")
        return float(p)+float(a)/number_system
    return convert

In [45]:
for ins in files[:]:
    if not instruments.get(ebestname=ins[:-17]):
        continue
    
    
    instrument = instruments.get(ebestname=ins[:-17])[0]
    num_system = instrument.number_system
    print(ins)
    #폴더 없으면 생성
    savepath = os.path.join(dirpath, instrument.ebestname)
    if not os.path.exists(savepath):
        os.makedirs(savepath)
    
    
    # 데이터를 pandas 로 정리
    df=pd.read_csv(os.path.join(dirpath, ins), header=0, names=['date','time','open','high','low','close','diff','diff_r','volume'], encoding='cp949')
    df['dates'] = pd.to_datetime(df['date']+df['time'], format='%Y/%m/%d%H:%M:%S')
    df.index = df['dates']
    df['dates'] = df['dates'].values.astype('M8[m]').astype('int64')
    data = df[['dates','open','high','low','close','volume']].sort_index()
    if num_system != 10:
        lamb = convert_value(num_system)
        data.loc[:,'open'] = data['open'].apply(lamb)
        data.loc[:,'high'] = data['high'].apply(lamb)
        data.loc[:,'low'] = data['low'].apply(lamb)
        data.loc[:,'close'] = data['close'].apply(lamb)
        
    #저장할 파일
    filename = os.path.join(savepath, f"{ins[:-4]}.hdf")
    fileobj = h5py.File(filename, mode='a')
    if 'ohlc' in fileobj.keys():
        old = pd.DataFrame(fileobj['ohlc'][:], columns=['dates', 'open','high','low','close','volume'], index = fileobj['ohlc'][:,0].astype('M8[m]'))
        data = pd.concat([old, data]).drop_duplicates('dates').sort_index()
        del fileobj['ohlc']
        
    fileobj.create_dataset('ohlc', data=data.values.astype('float64'),  compression="gzip")
    fileobj.close()

10Year U.S. T-Note(2023.09)(5분).csv
10Year U.S. T-Note(2023.12)(5분).csv
2Year U.S.T-Note(2023.09)(5분).csv
2Year U.S.T-Note(2023.12)(5분).csv
30Year U.S. T-Bond(2023.09)(5분).csv
30Year U.S. T-Bond(2023.12)(5분).csv
5Year U.S. T-Note(2023.09)(5분).csv
5Year U.S. T-Note(2023.12)(5분).csv
Australian Dollar(2023.09)(5분).csv
Australian Dollar(2023.12)(5분).csv
British Pound(2023.09)(5분).csv
British Pound(2023.12)(5분).csv
Canadian Dollar(2023.09)(5분).csv
Canadian Dollar(2023.12)(5분).csv
Copper(2023.09)(5분).csv
Copper(2023.12)(5분).csv
Corn(2023.09)(5분).csv
Corn(2023.12)(5분).csv
Crude Oil (WTI)(2023.08)(5분).csv
Crude Oil (WTI)(2023.09)(5분).csv
DAX(2023.09)(5분).csv
DAX(2023.12)(5분).csv
DJ Euro Stoxx 50(2023.09)(5분).csv
DJ Euro Stoxx 50(2023.12)(5분).csv
E-mini S&P 500(2023.09)(5분).csv
E-mini S&P 500(2023.12)(5분).csv
Euro Bobl(2023.09)(5분).csv
Euro Bobl(2023.12)(5분).csv
Euro Bund(2023.09)(5분).csv
Euro Bund(2023.12)(5분).csv
Euro FX(2023.09)(5분).csv
Euro FX(2023.12)(5분).csv
Euro Schatz(2023.09)(5분).csv
Euro Schatz(2023.12)(5분).csv
Euro-OAT(2023.09)(5분).csv
Euro-OAT(2023.12)(5분).csv
Feeder Cattle(2023.08)(5분).csv
Feeder Cattle(2023.09)(5분).csv
H-Share(2023.07)(5분).csv
H-Share(2023.08)(5분).csv
Hang Seng(2023.07)(5분).csv
Hang Seng(2023.08)(5분).csv
Heating Oil(2023.08)(5분).csv
Heating Oil(2023.09)(5분).csv
Japanese Yen(2023.09)(5분).csv
Japanese Yen(2023.12)(5분).csv
Lean Hogs(2023.08)(5분).csv
Lean Hogs(2023.10)(5분).csv
Live Cattle(2023.08)(5분).csv
Live Cattle(2023.10)(5분).csv
Long-term Euro-BTP(2023.09)(5분).csv
Long-term Euro-BTP(2023.12)(5분).csv
Natural Gas(2023.08)(5분).csv
Natural Gas(2023.09)(5분).csv
New Zealand Dollar(2023.09)(5분).csv
New Zealand Dollar(2023.12)(5분).csv
Oats(2023.09)(5분).csv
Oats(2023.12)(5분).csv
Palladium(2023.09)(5분).csv
Palladium(2023.12)(5분).csv
Platinum(2023.10)(5분).csv
Platinum(2024.01)(5분).csv
RBOB Gasoline(2023.08)(5분).csv
RBOB Gasoline(2023.09)(5분).csv
Rough Rice(2023.09)(5분).csv
Rough Rice(2023.11)(5분).csv
Silver(2023.09)(5분).csv
Silver(2023.12)(5분).csv
Soybean Meal(2023.08)(5분).csv
Soybean Meal(2023.09)(5분).csv
Soybean Oil(2023.08)(5분).csv
Soybean Oil(2023.09)(5분).csv
Soybeans(2023.08)(5분).csv
Soybeans(2023.09)(5분).csv
Swiss Franc(2023.09)(5분).csv
Swiss Franc(2023.12)(5분).csv
Wheat(2023.09)(5분).csv
Wheat(2023.12)(5분).csv

In [36]:
fileobj.close()

In [46]:
filename = '..\\data\\ebest\\Wheat\\Wheat(2023.09)(5분).hdf'

In [47]:
fileobj = h5py.File(filename, mode='r')

In [48]:
old = pd.DataFrame(fileobj['ohlc'][:], columns=['dates', 'open','high','low','close','volume'], index = fileobj['ohlc'][:,0].astype('M8[m]'))

In [49]:
old

                          dates    open    high     low   close  volume
2023-05-03 00:00:00  28051200.0  620.25  620.25  620.25  620.25     1.0
2023-05-03 00:05:00  28051205.0  620.25  620.25  620.25  620.25     1.0
2023-05-03 00:15:00  28051215.0  621.25  621.25  621.25  621.25     1.0
2023-05-03 00:25:00  28051225.0  621.25  621.50  621.25  621.50    11.0
2023-05-03 00:30:00  28051230.0  621.00  621.00  620.75  620.75     3.0
...                         ...     ...     ...     ...     ...     ...
2023-07-31 03:00:00  28179540.0  643.25  644.50  642.75  643.00   235.0
2023-07-31 03:05:00  28179545.0  642.75  643.25  642.00  643.00   432.0
2023-07-31 03:10:00  28179550.0  643.25  643.75  642.50  642.75   428.0
2023-07-31 03:15:00  28179555.0  643.00  643.75  640.75  641.00  2163.0
2023-07-31 03:20:00  28179560.0  641.00  641.25  638.00  640.00  1080.0

[9876 rows x 6 columns]

In [32]:
pd.DataFrame(fileobj['ohlc'][:], columns=['dates', 'open','high','low','close','volume'], index = fileobj['ohlc'][:,0].astype('M8[m]'))

                          dates    open    high     low   close  volume
2023-07-19 04:25:00  28162345.0  692.75  693.00  692.25  692.50    33.0
2023-07-19 04:20:00  28162340.0  691.50  693.25  691.00  693.25    57.0
2023-07-19 04:15:00  28162335.0  689.00  691.50  689.00  691.25   114.0
2023-07-19 04:10:00  28162330.0  689.00  690.50  688.25  688.75   131.0
2023-07-19 04:05:00  28162325.0  687.75  689.50  687.00  689.00   187.0
...                         ...     ...     ...     ...     ...     ...
2023-07-19 04:50:00  28162370.0  696.25  697.50  696.25  696.75   264.0
2023-07-19 04:45:00  28162365.0  696.75  696.75  695.50  696.50   191.0
2023-07-19 04:40:00  28162360.0  695.50  697.25  695.00  696.75   481.0
2023-07-19 04:35:00  28162355.0  694.25  696.00  694.25  695.25   274.0
2023-07-19 04:30:00  28162350.0  692.00  694.25  692.00  694.00    74.0

[8145 rows x 6 columns]

In [55]:
old.groupby(old.index.date)['volume'].first()

2023-05-03       1.0
2023-05-04      16.0
2023-05-05       2.0
2023-05-07      91.0
2023-05-08       2.0
               ...
2023-07-18       6.0
2023-07-19      27.0
2023-07-21    1132.0
2023-07-22      28.0
2023-07-31     359.0
Name: volume, Length: 66, dtype: float64

In [62]:
grouped = old.groupby(old.index.date).agg({'open':'first', 
                         'high':'max', 
                         'low':'min', 
                         'close': 'last',
                         'volume': 'sum'})

In [61]:
highchart([
    {'data': old[['open','high','low','close']], 'type':'candlestick'}
])

In [63]:
highchart([
    {'data': grouped[['open','high','low','close']], 'type':'candlestick'}
])