In [1]:
import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)
from models import Products, Product, Contract, OHLC
import pickle
import tables as tb
import numpy as np
import pandas as pd

### 1. Create Products Object from 'products.pkl'

In [17]:
products = pickle.load(open('products.pkl', 'rb')) #파일 로드

In [18]:
products['LC'].active

AttributeError: 'Product' object has no attribute 'active'

In [3]:
products.create_ohlc()

Updating Continuous Futures Data on Australian Dollar[AD]
Updating Continuous Futures Data on British Pound[BP]
Updating Continuous Futures Data on Brazilian Real[BR]
Updating Continuous Futures Data on ICE Cocoa[CC]
ICE Cocoa[CC] Data has been changed up by 29.0 at 2019-02-06
Updating Continuous Futures Data on Canadian Dollar[CD]
Updating Continuous Futures Data on Crude Oil (WTI)[CL]
Updating Continuous Futures Data on ICE Cotton[CT]
Updating Continuous Futures Data on Renminbi_USD/CNH[CUS]
Renminbi_USD/CNH[CUS] Data has been changed up by 0.0043 at 2018-12-04
Updating Continuous Futures Data on US Dollar Index[DX]
The product E-mini Euro FX is excepted for ohlc data
Updating Continuous Futures Data on Eurodollar[ED]
Eurodollar[ED] Data has been changed up by 0.0069 at 2018-12-27
Eurodollar[ED] Data has been changed up by 0.0213 at 2019-01-02
Updating Continuous Futures Data on E-mini S&P MidCap 400[EMD]
Updating Continuous Futures Data on E-mini S&P 500[ES]
Updating Continuous Futures Data on Long-term Euro-BTP[FBTP]
Updating Continuous Futures Data on Feeder Cattle[FC]
Updating Continuous Futures Data on DAX[FDAX]
The product Mini-DAX is excepted for ohlc data
Updating Continuous Futures Data on DJ Euro Stoxx 50[FESX]
Updating Continuous Futures Data on Euro Bund[FGBL]
Updating Continuous Futures Data on Euro Bobl[FGBM]
Updating Continuous Futures Data on Euro Schatz[FGBS]
The product Mid-Term Euro-OAT is excepted for ohlc data
Updating Continuous Futures Data on Euro-OAT[FOAT]
Updating Continuous Futures Data on VSTOXX[FVS]
Updating Continuous Futures Data on Gold[GC]
Updating Continuous Futures Data on H-Share[HCEI]
H-Share[HCEI] Data has been changed up by 38.0 at 2019-01-10
The product CES China 120 is excepted for ohlc data
Updating Continuous Futures Data on Copper[HG]
The product Mini H-Shares is excepted for ohlc data
The product Mini Hang Seng is excepted for ohlc data
Updating Continuous Futures Data on Heating Oil[HO]
Updating Continuous Futures Data on Hang Seng[HSI]
Hang Seng[HSI] Data has been changed up by 18.0 at 2019-01-14
The product E-mini Japanese Yen is excepted for ohlc data
Updating Continuous Futures Data on Japanese Yen[JY]
Updating Continuous Futures Data on ICE Coffee[KC]
Updating Continuous Futures Data on Live Cattle[LC]
Live Cattle[LC] Data has been changed up by 1.025 at 2019-01-15
Updating Continuous Futures Data on Lean Hogs[LH]
Lean Hogs[LH] Data has been changed up by 4.394 at 2019-01-18
The product E-micro AUD/USD is excepted for ohlc data
The product E-micro GBP/USD is excepted for ohlc data
The product E-micro EUR/USD is excepted for ohlc data
The product E-micro CAD/USD is excepted for ohlc data
The product E-micro Gold is excepted for ohlc data
The product E-micro JPY/USD is excepted for ohlc data
The product Mexican Peso is excepted for ohlc data
Updating Continuous Futures Data on New Zealand Dollar[NE]
Updating Continuous Futures Data on Natural Gas[NG]
Updating Continuous Futures Data on Nikkei 225 Yen-based[NIY]
Updating Continuous Futures Data on Nikkei 225 Dollar-based[NKD]
Updating Continuous Futures Data on E-mini NASDAQ 100[NQ]
Updating Continuous Futures Data on ICE ORANGE JUICE[OJ]
Updating Continuous Futures Data on Palladium[PA]
Updating Continuous Futures Data on Platinum[PL]
The product E-mini Copper is excepted for ohlc data
The product miNY Natural Gas is excepted for ohlc data
The product miNY Crude Oil is excepted for ohlc data
Updating Continuous Futures Data on RBOB Gasoline[RB]
Updating Continuous Futures Data on E-mini Russell 2000[RTY]
Updating Continuous Futures Data on Euro/Yen Cross[RY]
Updating Continuous Futures Data on ICE Sugar[SB]
The product SGX MSCI China is excepted for ohlc data
Updating Continuous Futures Data on SGX FTSE China A50[SCN]
SGX FTSE China A50[SCN] Data has been changed up by 14.4 at 2018-12-06
Updating Continuous Futures Data on Swiss Franc[SF]
Updating Continuous Futures Data on Silver[SI]
Updating Continuous Futures Data on SGX Nifty[SIN]
Updating Continuous Futures Data on SGX INR/USD FX[SIU]
The product SGX KRW/USD FX is excepted for ohlc data
The product SGX Mini Nikkei 225 is excepted for ohlc data
The product SGX USD Nikkei 225 is excepted for ohlc data
Updating Continuous Futures Data on SIMSCI[SSG]
Updating Continuous Futures Data on SGX Nikkei 225[SSI]
Updating Continuous Futures Data on MSCI Taiwan[STW]
MSCI Taiwan[STW] Data has been changed up by 1.2 at 2018-12-25
The product SGX USD/CNH FX is excepted for ohlc data
Updating Continuous Futures Data on Euro FX[URO]
Updating Continuous Futures Data on VIX[VX]
VIX[VX] Data has been changed up by 0.461 at 2019-02-06
The product Mini Corn is excepted for ohlc data
The product Mini Soybean is excepted for ohlc data
The product Mini Wheat is excepted for ohlc data
The product Mini Gold is excepted for ohlc data
The product Mini Silver is excepted for ohlc data
Updating Continuous Futures Data on Mini Dow[YM]
Updating Continuous Futures Data on 30Year U.S. T-Bond[ZB]
Updating Continuous Futures Data on Corn[ZC]
Updating Continuous Futures Data on 5Year U.S. T-Note[ZF]
Updating Continuous Futures Data on Soybean Oil[ZL]
Updating Continuous Futures Data on Soybean Meal[ZM]
Updating Continuous Futures Data on 10Year U.S. T-Note[ZN]
Updating Continuous Futures Data on Oats[ZO]
Updating Continuous Futures Data on Rough Rice[ZR]
Updating Continuous Futures Data on Soybeans[ZS]
Updating Continuous Futures Data on 2Year U.S.T-Note[ZT]
Updating Continuous Futures Data on Wheat[ZW]

In [14]:
for product in products.values():
    if hasattr(product, 'active'):
        del product.active

In [7]:
db = tb.open_file('futures.db', mode='r')

In [15]:
with open('products.pkl', 'wb') as f:
    pickle.dump(products, f,protocol=pickle.HIGHEST_PROTOCOL)

In [16]:
del products

In [7]:
product.info()

{'name': 'Live Cattle',
 'symbol': 'LC',
 'currency': 'USD',
 'exchange symbol': 'CME',
 'exchange': '시카고상업거래소',
 'market': 'MEATS',
 'notation': ' 10',
 'unit': '0.025000000',
 'price per unit': '10.000000000',
 'regulator factor': '0.0100000000',
 'opening time': '23:30:00',
 'closing time': '04:05:00',
 'decimal length': 3,
 'initial margin': '1650.00',
 'maintanance margin': '1650.00',
 'is tratable': True,
 'last update': '2019-02-11 14:30:24',
 'contracts': ['LCJ19', 'LCM19', 'LCQ19'],
 'emini': False,
 'parent': None,
 'is exception': False}

In [14]:
np.int32(17910).astype('M8[D]')

numpy.datetime64('2019-01-14')

In [8]:
product['LCJ19'].ohlc()

array([(17868, 122.775, 122.875, 121.5  , 121.625, 14223),
       (17869, 121.7  , 122.975, 121.45 , 122.9  , 17321),
       (17870, 122.75 , 124.025, 122.65 , 123.875, 13194),
       (17871, 123.45 , 124.025, 122.925, 123.475, 14157),
       (17872, 123.425, 123.85 , 122.575, 123.625, 12465),
       (17875, 123.725, 123.95 , 123.   , 123.6  , 13980),
       (17876, 123.45 , 124.7  , 122.95 , 124.525, 15511),
       (17877, 124.5  , 125.   , 124.025, 124.9  , 16094),
       (17878, 124.9  , 125.15 , 124.65 , 124.8  , 14743),
       (17879, 124.525, 125.125, 124.275, 124.5  , 11779),
       (17882, 124.075, 124.275, 123.4  , 123.85 , 10605),
       (17883, 123.9  , 125.15 , 123.65 , 124.6  , 14140),
       (17884, 124.3  , 124.875, 124.275, 124.575,  8815),
       (17885, 124.425, 124.775, 123.825, 124.575, 11410),
       (17886, 124.575, 125.075, 124.4  , 124.825, 11425),
       (17889, 124.475, 125.4  , 124.45 , 125.225,  9179),
       (17891, 125.475, 125.6  , 124.9  , 125.25 , 12154),
       (17892, 125.425, 126.675, 125.375, 126.   , 22110),
       (17893, 126.3  , 126.725, 126.075, 126.4  , 16137),
       (17896, 126.875, 126.95 , 126.175, 126.25 , 19403),
       (17898, 126.35 , 126.45 , 125.55 , 125.775, 20268),
       (17899, 125.85 , 126.05 , 124.575, 125.4  , 17375),
       (17900, 125.325, 125.425, 123.9  , 124.   , 16922),
       (17903, 123.9  , 125.375, 123.5  , 125.075, 20151),
       (17904, 125.175, 126.4  , 124.4  , 126.15 , 43482),
       (17905, 126.15 , 126.25 , 125.625, 125.8  , 33655),
       (17906, 125.725, 126.225, 125.65 , 125.925, 31969),
       (17907, 126.1  , 126.675, 125.75 , 126.375, 33331),
       (17910, 126.4  , 126.775, 125.975, 126.675, 30810),
       (17911, 126.575, 127.65 , 126.325, 127.425, 36772),
       (17912, 127.45 , 127.8  , 126.95 , 127.725, 31037),
       (17913, 127.525, 127.525, 126.175, 126.9  , 23403),
       (17914, 127.   , 127.525, 126.425, 127.375, 23246),
       (17918, 126.7  , 126.975, 125.65 , 126.075, 23553),
       (17919, 126.2  , 126.575, 125.475, 126.5  , 20040),
       (17920, 126.475, 126.6  , 125.975, 126.475, 16540),
       (17921, 126.325, 127.425, 125.875, 126.85 , 26888),
       (17924, 126.725, 127.55 , 126.4  , 127.375, 20197),
       (17925, 127.375, 127.9  , 127.175, 127.8  , 22152),
       (17926, 127.85 , 128.15 , 127.7  , 128.05 , 17945),
       (17927, 128.075, 129.475, 126.125, 126.3  , 46899),
       (17928, 126.025, 126.7  , 125.75 , 126.275, 25195),
       (17931, 126.725, 127.725, 126.25 , 127.   , 29492),
       (17932, 126.825, 127.75 , 126.8  , 127.625, 20850),
       (17933, 127.575, 127.85 , 126.775, 127.15 , 19308),
       (17934, 127.   , 127.55 , 126.625, 126.825, 20548),
       (17935, 127.25 , 128.1  , 127.   , 127.925, 21716)],
      dtype=[('date', '<i4'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('volume', '<u8')])

In [20]:
product['LCG19'].ohlc()

array([(17868, 121.3  , 121.425, 119.825, 120.175, 28458),
       (17869, 120.075, 121.75 , 119.975, 121.65 , 33453),
       (17870, 121.65 , 122.55 , 121.175, 122.375, 22868),
       (17871, 122.1  , 122.325, 121.375, 121.8  , 23536),
       (17872, 121.8  , 122.   , 120.6  , 121.525, 23885),
       (17875, 121.7  , 121.9  , 120.775, 121.2  , 20183),
       (17876, 121.05 , 122.5  , 120.475, 122.15 , 25364),
       (17877, 122.25 , 123.   , 121.7  , 122.9  , 23626),
       (17878, 123.   , 123.275, 122.675, 122.85 , 20273),
       (17879, 122.55 , 123.225, 122.225, 122.4  , 22654),
       (17882, 122.075, 122.2  , 121.1  , 121.55 , 18263),
       (17883, 121.55 , 123.075, 121.35 , 122.575, 20450),
       (17884, 122.125, 122.675, 122.   , 122.25 , 12992),
       (17885, 122.15 , 122.8  , 121.55 , 122.35 , 19402),
       (17886, 122.4  , 123.   , 122.375, 122.7  , 17691),
       (17889, 122.375, 123.   , 122.3  , 122.775, 12989),
       (17891, 123.2  , 123.5  , 122.725, 122.75 , 17741),
       (17892, 123.025, 124.9  , 123.   , 123.95 , 33366),
       (17893, 124.225, 124.775, 124.025, 124.175, 21975),
       (17896, 124.875, 124.95 , 123.825, 123.875, 25737),
       (17898, 124.   , 124.2  , 123.375, 123.525, 28542),
       (17899, 123.65 , 123.875, 122.35 , 123.225, 27921),
       (17900, 123.225, 123.3  , 121.75 , 121.925, 27113),
       (17903, 121.8  , 123.4  , 121.425, 123.2  , 31156),
       (17904, 123.2  , 125.475, 122.875, 125.3  , 54520),
       (17905, 125.1  , 125.4  , 124.725, 124.8  , 36056),
       (17906, 124.65 , 125.15 , 124.575, 124.875, 37428),
       (17907, 125.025, 125.65 , 124.725, 124.975, 40412),
       (17910, 125.025, 125.625, 124.775, 125.425, 29887),
       (17911, 125.45 , 127.1  , 125.25 , 126.95 , 36144),
       (17912, 127.175, 127.95 , 126.725, 127.825, 27181),
       (17913, 127.625, 127.7  , 126.25 , 127.1  , 15444),
       (17914, 127.075, 127.175, 126.225, 126.525, 19082),
       (17918, 125.85 , 126.025, 124.85 , 125.125, 16797),
       (17919, 125.125, 125.625, 124.7  , 125.55 , 10335),
       (17920, 125.55 , 125.625, 124.925, 125.35 , 10467),
       (17921, 125.25 , 126.35 , 125.   , 126.05 , 14139),
       (17924, 125.95 , 126.6  , 125.575, 126.4  , 10084),
       (17925, 126.525, 126.725, 126.1  , 126.475, 10472),
       (17926, 126.6  , 126.625, 126.05 , 126.15 ,  9842),
       (17927, 126.15 , 127.125, 124.725, 124.8  , 16336),
       (17928, 125.   , 125.725, 124.85 , 125.45 ,  9094),
       (17931, 125.95 , 126.65 , 125.5  , 125.65 ,  8273)],
      dtype=[('date', '<i4'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('volume', '<u8')])

In [17]:
product['LCJ19'].info()

'Live Cattle(2019.04)'

In [19]:
for p in product.values():
    print(p.name, p.symbol)

Live Cattle(2019.02) LCG19
Live Cattle(2019.04) LCJ19
Live Cattle(2019.06) LCM19
Live Cattle(2019.08) LCQ19

In [10]:
with open('products.pkl', "wb") as f:
    pickle.dump(products, f, protocol=pickle.HIGHEST_PROTOCOL)

In [7]:
list(product.keys())

['BRH19', 'BRJ19', 'BRK19']

In [6]:
b=product['BRJ19'].ohlc()

In [12]:
b[b['date']<17918]['volume']

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint64)

In [40]:
db = tb.open_file(Products.OHLCFILE, mode='a')

In [47]:
df = pd.DataFrame(db.root['ZW'].read())

In [48]:
df.set_index('date', inplace=True)
df.index = df.index.astype('M8[D]')

In [49]:
df

              open    high     low   close  volume
date
2018-12-03  526.00  529.50  517.00  521.25   59962
2018-12-04  519.50  523.25  516.00  522.50   43909
2018-12-05  521.75  522.00  513.50  518.00   39564
2018-12-06  518.00  518.50  510.00  515.50   44394
2018-12-07  517.00  532.00  515.25  531.25   82011
2018-12-10  529.75  531.00  524.50  525.25   48084
2018-12-11  525.00  529.00  517.50  521.00   56132
2018-12-12  522.00  528.75  521.75  526.50   48921
2018-12-13  527.25  538.50  527.25  536.00   74719
2018-12-14  536.00  538.00  527.75  530.00   47819
2018-12-17  533.25  537.50  530.00  535.25   34446
2018-12-18  534.00  536.00  530.00  532.75   37312
2018-12-19  532.75  533.00  521.50  522.50   47363
2018-12-20  524.00  527.75  521.25  523.50   43760
2018-12-21  522.00  524.00  512.25  514.00   59834
2018-12-24  512.00  518.00  511.00  516.50   21194
2018-12-26  516.25  520.75  509.00  510.00   30797
2018-12-27  511.50  513.00  507.25  510.50   30626
2018-12-28  511.75  514.00  509.50  511.50   23190
2018-12-31  512.75  513.50  503.00  503.25   36551
2019-01-02  502.75  510.75  501.25  506.75   42649
2019-01-03  506.75  516.00  506.00  513.75   46638
2019-01-04  513.75  518.75  513.00  517.00   41760
2019-01-07  518.00  518.50  513.50  516.75   38861
2019-01-08  516.50  524.50  513.75  517.75   66422
2019-01-09  519.75  523.75  518.25  520.00   50716
2019-01-10  519.50  520.25  512.00  513.75   53146
2019-01-11  513.75  523.75  512.75  519.50   66720
2019-01-14  520.00  523.50  513.25  514.25   44070
2019-01-15  514.75  518.25  508.00  511.00   54336
2019-01-16  511.00  516.75  511.00  512.50   41068
2019-01-17  511.50  522.50  509.00  517.75   63323
2019-01-18  519.75  522.75  515.25  517.75   46812
2019-01-22  518.00  526.00  514.25  521.25   73695
2019-01-23  522.50  527.00  521.75  526.00   42002
2019-01-24  527.00  529.00  521.00  521.50   48425
2019-01-25  520.50  523.00  516.75  520.00   48835
2019-01-28  520.75  523.50  516.00  518.75   41835
2019-01-29  517.75  522.00  510.75  513.25   72224
2019-01-30  513.25  518.00  511.75  516.75   44727
2019-01-31  517.75  520.00  513.50  516.50   53150
2019-02-01  515.75  526.50  515.25  524.25   80178
2019-02-04  524.75  529.00  521.25  525.75   70133
2019-02-05  525.25  528.25  520.50  527.25   70115
2019-02-06  527.00  531.25  524.25  526.00   68638
2019-02-07  525.25  525.25  512.50  513.25  105092

In [50]:
db.close()

In [52]:
product.active.name

'Wheat(2019.03)'

In [67]:
for k in a:
    if k.name == 'ADH19':
        break

In [77]:
while next(a).name =='ADH19': pass

In [74]:
next(a)

StopIteration:

In [47]:
a=('1','2','3','4','5','6')

In [48]:
max(map(float, a[1:-1]))

5.0

In [71]:
def t():
    return 'hihi'

In [72]:
class Test:
    ABC = t()

In [73]:
Test.ABC

'hihi'

In [174]:
c == b

True

In [62]:
b.astype('int32')

-934967803

In [60]:
np.int64(1549322617718277).astype("M8[us]")

numpy.datetime64('2019-02-04T23:23:37.718277')

In [68]:
a=np.datetime64('2018-01-01')

In [73]:
a.astype('int64')

17532

In [97]:
np.datetime64(datetime(2018,1,1)).astype('M8[us]').astype('int64')

1514764800000000

In [86]:
a.astype('M8[s]').astype("int64")

1514764800

In [103]:
datetime(2018,1,1,8).timestamp()

1514764800.0

In [98]:
datetime.fromtimestamp(1514736000.0)

datetime.datetime(2018, 1, 1, 0, 0)

In [102]:
np.int32(1514736000).astype('M8[s]')

numpy.datetime64('2017-12-31T16:00:00')

In [107]:
datetime.tzinfo.timezone

AttributeError: 'getset_descriptor' object has no attribute 'timezone'

In [132]:
datetime.now().timestamp()

1549295691.115751

In [133]:
datetime.utcnow().timestamp()

1549266891.263207

In [142]:
np.datetime64(datetime.now()).astype('M8[s]')

numpy.datetime64('2019-02-04T23:56:47')

In [135]:
np.datetime64(datetime.utcnow()).astype('M8[s]').astype('uint64')

1549295691

In [136]:
datetime.fromtimestamp(1549324365)

datetime.datetime(2019, 2, 5, 7, 52, 45)

In [137]:
datetime.fromtimestamp(1549295565.051167)

datetime.datetime(2019, 2, 4, 23, 52, 45, 51167)

In [138]:
datetime.fromtimestamp(1549266765.194717)

datetime.datetime(2019, 2, 4, 15, 52, 45, 194717)

In [139]:
datetime.fromtimestamp(1549295691)

datetime.datetime(2019, 2, 4, 23, 54, 51)

In [14]:
from collections import OrderedDict
class Test(OrderedDict):
    def __init__(self, name):
        self.name = name

In [15]:
a = Test('yosep')

In [16]:
with open('test.pkl', 'wb') as f:
    pickle.dump(a,f)

In [17]:
del a

In [18]:
with open('test.pkl', 'rb') as f:
    a = pickle.load(f)

TypeError: __init__() missing 1 required positional argument: 'name'

In [12]:
a

{}

In [13]:
a.name

'yosep'