In [1]:
%matplotlib inline
import sys, os
sys.path.append('../../')
import h5py
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from tools.instruments import instruments
from tools.display import highchart
from IPython.display import clear_output
import time

In [2]:
%load_ext autoreload
%aimport tools.quotes
%aimport tools.instruments
%autoreload 2

In [3]:
filepath = os.path.join('..','..','data','trend index','training set', f'trend_50day.hdf')
file = h5py.File(filepath, mode='a')

In [6]:
del file['expect']

In [23]:
dataset = []
for data in ohlc:
    data = pd.DataFrame(data)
    normed = (data-data.mean())/data.std().mean()
    dataset.append(normed.values)

In [29]:
arr = np.moveaxis(np.array(dataset),1,2)

In [30]:
arr.shape

(422, 4, 50)

In [32]:
del file['ohlc']

In [33]:
file.create_dataset('ohlc', arr.shape, data=arr)

In [34]:
file['trend'].shape

(422,)

In [35]:
file.close()

In [21]:
pd.DataFrame(arr)

                 0      1      2      3
0     9.215424e+08  0.135  0.815  0.050
1     9.216288e+08  0.110  0.860  0.030
2     9.217152e+08  0.135  0.835  0.030
3     9.218016e+08  0.120  0.860  0.020
4     9.220608e+08  0.125  0.835  0.040
...            ...    ...    ...    ...
5838  1.651104e+09  0.180  0.630  0.190
5839  1.651190e+09  0.240  0.660  0.100
5840  1.651450e+09  0.370  0.560  0.070
5841  1.651536e+09  0.315  0.620  0.065
5842  1.651622e+09  0.275  0.665  0.060

[5843 rows x 4 columns]

In [26]:
trend = pd.DataFrame(data = arr[:,[1,2,3]], index = arr[:,0].astype('M8[s]'), columns=['down50', 'side50', 'up50'])

In [27]:
trend

            down50  side50   up50
1999-03-16   0.135   0.815  0.050
1999-03-17   0.110   0.860  0.030
1999-03-18   0.135   0.835  0.030
1999-03-19   0.120   0.860  0.020
1999-03-22   0.125   0.835  0.040
...            ...     ...    ...
2022-04-28   0.180   0.630  0.190
2022-04-29   0.240   0.660  0.100
2022-05-02   0.370   0.560  0.070
2022-05-03   0.315   0.620  0.065
2022-05-04   0.275   0.665  0.060

[5843 rows x 3 columns]

In [48]:
quotes = instruments.quotes(fields='ohlc')

In [54]:
s=instruments['W'].quotes()

In [58]:
s.TREND(direction='up', period=50, inplace=True)

In [59]:
s

field,open,high,low,close,volume,oi,trendup50
date,,,,,,,
1959-10-01,1803.395020,1803.994873,1802.895020,1803.294922,3525,44311,NaN
1959-10-02,1803.294922,1803.694946,1802.895020,1803.594971,3004,44177,NaN
1959-10-05,1803.494873,1803.994873,1802.994873,1802.994873,1339,44088,NaN
1959-10-06,1802.994873,1803.895020,1802.994873,1803.895020,2321,43892,NaN
1959-10-07,1803.895020,1804.294922,1803.694946,1804.294922,1915,43432,NaN
...,...,...,...,...,...,...,...
2022-04-28,1088.000000,1106.500000,1081.000000,1085.750000,28123,179732,0.305
2022-04-29,1085.000000,1102.500000,1054.250000,1055.750000,36624,179341,0.205
2022-05-02,1049.000000,1071.500000,1034.250000,1055.500000,39695,179240,0.195
2022-05-03,1056.250000,1068.750000,1044.000000,1045.500000,29749,177551,0.145
2022-05-04,1047.000000,1089.000000,1042.250000,1076.500000,42332,177503,0.100

In [47]:
quote

NameError: name 'quote' is not defined

In [40]:
q.join(trend).dropna()

               open     high      low    close  down50  side50   up50
date
1999-03-16  0.26790  0.26890  0.26420  0.26800   0.135   0.815  0.050
1999-03-17  0.26700  0.26960  0.26640  0.26780   0.110   0.860  0.030
1999-03-18  0.27150  0.27210  0.26820  0.26890   0.135   0.835  0.030
1999-03-19  0.27070  0.27220  0.26970  0.27030   0.120   0.860  0.020
1999-03-22  0.27300  0.27670  0.27220  0.27610   0.125   0.835  0.040
...             ...      ...      ...      ...     ...     ...    ...
2022-04-28  0.71290  0.71660  0.70595  0.70995   0.180   0.630  0.190
2022-04-29  0.71035  0.71845  0.70610  0.70870   0.240   0.660  0.100
2022-05-02  0.70710  0.70870  0.70355  0.70415   0.370   0.560  0.070
2022-05-03  0.70570  0.71535  0.70525  0.70990   0.315   0.620  0.065
2022-05-04  0.71005  0.72700  0.70925  0.72370   0.275   0.665  0.060

[5843 rows x 7 columns]

In [41]:
[1,2,3].index(2)

1

In [ ]:
symbols = list(quotes.columns.levels[0])
for symbol in symbols:
    savefile = h5py.File(savefilepath, 'a')
    print(symbol)
    quote = quotes[symbol].dropna()
    df = quote.reset_index()
    data=[]
    dates = []
    for i in range(period, len(quote)+1):
        window = quote.iloc[i-period:i]
        window = (window - window.mean())/window.std().mean()
        window.reset_index(inplace=True)
        dates.append(window['date'].max())
        data.append(window[['open','high','low','close']].values.tolist())
    print("확률 생성중")
    data = np.moveaxis(np.array(data), 1,2)
    prob = model.predict_proba(data)
    trend = pd.DataFrame(data = prob, columns =['down','no','up'], index=dates)
    
    if symbol not in savefile.keys():
        savefile.create_group(symbol)
    
    trend.insert(0,'date', trend.index.values.astype('M8[s]').astype('i'))
    arr = np.array(trend.values.tolist())
    savefile[symbol].create_dataset(f"trend{period}", arr.shape, data=arr)
    savefile.close()

AD
확률 생성중

Feature Extraction:  15%|████████▍                                                | 5222/35468 [03:39<21:25, 23.53it/s]

In [137]:
savefile.close()

In [54]:
highchart([
    {'data':ad, 'type':'candlestick'},
    {'data':trend['up'], 'type':'line','yaxis':'22'},
    {'data':trend['down'], 'type':'line','yaxis':'22'},
    {'data':trend['no'], 'type':'line','yaxis':'22'}
])